<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_05___Linq_To_Sql.Properties.Settings.KnowledgeCenterConnectionString"
            connectionString="Data Source=.;Initial Catalog=KnowledgeCenter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>